<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121320328626-onsajbht8v2o70pn9mq22v1pcal13c75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121320328626-onsajbht8v2o70pn9mq22v1pcal13c75</string>
	<key>API_KEY</key>
	<string>AIzaSyAxmBOh4xcCpZL_RJY7e1jrSz1nAPLVpKo</string>
	<key>GCM_SENDER_ID</key>
	<string>121320328626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noname.noName</string>
	<key>PROJECT_ID</key>
	<string>three-for-us</string>
	<key>STORAGE_BUCKET</key>
	<string>three-for-us.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121320328626:ios:aab3e478060770262da8ab</string>
</dict>
</plist>